
<div class="page-wrapper">
 
    <section class="page-title" style="background-image:url(/assets/charity1.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>about us</h1>
                <ul class="bread-crumb">
                	<li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    
    <!--About Section-->
    <section class="about-section">
    	<div class="auto-container">
            
            <div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-12 col-sm-12 col-xs-12">
                	<div class="inner">
                        <h3 style="font-weight: 700;color:black;">ABOUT US</span></h3>
                        <div class="desc">People are so held up in the false sense of hectic schedules that they feel they have got no time to cater to the elderly who are at their homes. The woman who fed food to her child is now deserted mercilessly on roads! The woman who woke up all night to take care of her child has now got nowhere to sleep! For all the sacrifices a woman does, she will only get shut doors later!
                        Understanding and feeling the pain of our elderly mothers, Ashraya was established in order to offer them care and concern they are worth of! Our NGO for elderly takes care of women  from all walks of life!
                        Our Ashram is registered with the Government of Karnataka (Reg No. 16/05-06) and is situated in Rajajinagar, Bangalore. We have served over 800 women till date, and have sometimes stayed with women until they reached their grave. Our NGO for old age people was started by Mrs Rani!</div>
<h3 style="font-weight: 700;color:black;">How it all started?</span></h3>
                        <div class="desc">Mrs Rani was unfortunate to lose her mother at her very young age (6 years old). Since then, she deeply felt how important it was for a mother to be present. When she came to Bangalore along with her family several years later, little did she know her loss would result in positive impact on so many lives!
                        She found elderly women being treated badly in and around her neighbourhood. She found old people lying on roads in utterly horrid conditions. She knew she didn't want to sit and watch things like these happen. She began from taking in a couple of old women in her own home and taking utmost care of them.
                        This could probably be recognised as the genesis of Ashraya Seva Trust! It happened when few of her family members suggested that she set up a trust in order to make it easy for herself to take care of many more needy women in the future. And in 2005, Ashraya Seva Trust officially spread its arms to embrace those women who were treated like outcasts.</div>
<h3 style="font-weight: 700;color:black;">Respect and quality!</span></h3>
                        <div class="desc">Mrs Rani has made it a point that all the ladies are treated with respect from the staff and are carefully looked after, meeting the benchmark of great quality. Mrs Rani also funds the primary studies of few kids in villages who are talented but can't afford to study.</div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
    <!--What We Do-->
    <section class="what-we-do">
    	<div class="auto-container">
            
            <div class="row clearfix">
            
            	<!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                		<div class="icon-box"><span class="flaticon-donation-1"></span></div>
                        <div class="title">
                        	<h3>Vision</h3>
                        </div>
                        <div class="text-content">We look forward for a world where the old women are given the kind of love and care they are entitled of, after a long tedious life they have spent loving and caring their family. We anticipate a world where every woman gets the right to live with dignity!</div>
                        
                    </div>
                </div>
                
                <!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                		<div class="icon-box"><span class="flaticon-coin"></span></div>
                        <div class="title">
                        	<h3>Mission</h3>
                            
                        </div>
                        <div class="text-content">We want to work more and more in order to provide shelter and care for more number of women. We want to create the right sense of awareness among the young generation of this country so their mothers don't have to face what the mothers at our Ashram do!</div>
                        
                    </div>
                </div>
                
                <!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                		<div class="icon-box"><span class="flaticon-organs-donation"></span></div>
                        <div class="title">
                        	<h3>Our Values</h3>
                    
                        </div>
                        <div class="text-content">We normally reiterate our human values and focus on deepening people's commitment to transform our ignorant culture into a compassionate one! Camaraderie, solidarity and sisterhood with our elderly woman each of our team members!</div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>

