<div class="page-wrapper">
    
    <!-- Preloader -->
    
    <!-- Main Header / Header Style Two-->
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/assets/contact.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Contact Us</h1>
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    
    <!--Contact Section-->
    <section class="contact-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Contact Column-->
                <div class="contact-column col-lg-7 col-md-7 col-sm-12 col-xs-12">
                
                    <div class="upper-title">
                        <h2>Send Message</h2>
                        <div class="text">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</div>
                    </div>
                    
                    <!--Contact Form Form-->
                    <div class="contact-us-form">
                        <form method="post" action="sendemail.php" id="contact-form">
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="username" value="" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" value="" placeholder="Email">
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                
                <!--Contact Column-->
                <div class="contact-column col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="inner">
                        <div class="upper-title">
                            <h2>Contact Info</h2>
                        </div>
                        
                        <!--Contact Info-->
                        <div class="contact-info">
                            <ul>
                                <li><div class="icon"><span class="flaticon-at"></span></div> <h4>E-mail</h4>sevatrust.aashraya@gmail.com</li>
                                <li><div class="icon"><span class="flaticon-technology-2"></span></div> <h4>Phone</h4>Landline:080-23124666</li>
                                <li><div class="icon"><span class="flaticon-location-marker"></span></div> <h4>Address</h4>#135,1st k block, Dr.Rajkumar road, Rajajinagar–2nd stage, Bangalore – 560 010. </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>
