
<div class="page-wrapper">
    
    <section class="page-title" style="background-image:url(/assets/charity1.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Our Gallery</h1>
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Our Gallery</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="gallery-section">
        <div class="auto-container">
            
            <!--Mixitup Gallery-->
            <div class="mixitup-gallery">
                <!--Filter-->
                

                <!--Items Container-->
                <div class="filter-list row clearfix">
                    
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all donate">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery7.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery7.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all children volunteer donate">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery8.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery8.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all children donate">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery4.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery4.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all children volunteer">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery5.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery5.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all volunteer donate">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery6.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery6.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all volunteer">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery1.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery1.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all donate">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery2.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery2.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item mix all children">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/gallery/gallery3.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/assets/gallery/gallery3.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a href="single-event.html" class="option-btn"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                        
            </div>
            <!--End Mixitup Gallery-->
            
        </div>
    </section>
       
</div>
<!--End pagewrapper-->

<!--Scroll to top-->



