<div class="page-wrapper">
  
    <section class="main-slider" data-start-height="720" data-slide-overlay="yes">
      
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                  
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/assets/charity1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/assets/charity1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>We <br>Can <span class="theme_color">spread</span> love <br>By donate!!</h2></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Be a part of the world by make a donation</div></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="180"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="donate.html" class="theme-btn btn-style-two">Donate now</a></div>
                    
                    </li>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/assets/charity2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/assets/charity2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text-center"><h2>Insure Children<br>Education Over the World</h2></div></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="65"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text text-center">Be a part of the world by make a donation</div></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="155"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="donate.html" class="theme-btn btn-style-two">Donate now</a></div>
                    
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </section>
    
    
    
    
    <!--What We Do-->
    <section class="what-we-do">
      <div class="auto-container">
          <!--Heading-->
            <div class="sec-title centered">
              <div class="subtitle">What we do</div>
              <h2>ASHRAYA SEVA TRUST - NGO for Women and Children</h2>
                <div class="clearfix">
                  <div class="desc-text">Ashraya Seva Trust is one of the renown old age homes in Bangalore. We are now a home for about 60 elderly women and 10 orphan children!</div>
                </div>
            </div>
            
            <div class="row clearfix">
            
              <!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-donation-1"></span></div>
                        <div class="title">
                          <h3>Donation</h3>
                            <div class="txt">Help us by donating</div>
                        </div>
                        <div class="text-content">Your donation will help us continue to lift children, women and families out </div>
                        
                    </div>
                </div>
                
                <!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-coin"></span></div>
                        <div class="title">
                          <h3>Fundraising</h3>
                            <div class="txt">Collect Fund from all</div>
                        </div>
                        <div class="text-content">Help us out in collecting fund from all and raise awareness among people.</div>
                        
                    </div>
                </div>
                
                <!--Service Box-->
                <div class="service-box col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-organs-donation"></span></div>
                        <div class="title">
                          <h3>Volunteer</h3>
                            <div class="txt">Becoma a volunteer</div>
                        </div>
                        <div class="text-content">We're sure we are not the only compassionate people in this world.</div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
       
    <!--Fullwidth Section One-->
    
    <div class="container">
  <div class="row">
    <div class="col-md-6"><img src="/assets/elder1.jpg"></div>
    <div class="col-md-6"><h3 style="font-weight: 700;color:black;">Taking care of the Elderly and the orphans</h3>
 <div class="text-content">Not everyone is blessed with necessary amenities. Though it’s a weird law of nature, the only thing we can do is take things into our own hands. We work on providing the most fundamental amenities any human must be getting. We have destitute women, widows, divorcees, old age women those who were neglected by their Kith and kin. We also provide shelter to orphan kids who were dejected by their parents. We take care of their shelter, food, medicines and other necessities so they get through their life conveniently. We induce hope in the lives of those who would have lost all hopes! Regular health check ups are done. We also conduct frequent meditation, prayer and yoga sessions for the elderly. We even organise religious trips to close by places!</div></div>
  </div>
  <br><br>
  <div class="row">
    
    <div class="col-md-6"><h3 style="font-weight: 700;color:black;">Taking care of the Elderly and the orphans</h3>
 <div class="text-content">We do our part of caring for the elderly not only at our Seva Trust but we also go around different parts of the state and conduct free medical campaigns. In these medical campaigns, we provide free medical assistance to the elderly and also distribute free medicines to them. Our latest medical camp was put up in Nangala village, Coorg district. It was a huge success where we reached out to nearly 370 people from that village as well as the villages surrounding it. Besides these, we also went onto distribute more than 150 blankets for those who were in need of it since it was a winter. Nothing more satisfying than sharing!</div></div>
 <div class="col-md-6"><img src="/assets/medical.jpg"></div>
  </div>
  
</div>
    <!--Upcoming Events Section-->
    
    <!--Testimonial Style Two-->
    
           
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>

<script src="/assets/script.js"></script>
