<div class="page-wrapper">
    
    <section class="page-title" style="background-image:url(/assets/charity2.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Our Partners</h1>
            </div>
        </div>
    </section>
    
    
    <section class="about-section">
        <div class="auto-container">
            
            <div class="row clearfix">
                
                <!--Content Column-->
                <div class="content-column col-md-12 col-sm-12 col-xs-12">
                    <div class="inner">
                        <h3 style="font-weight: 700;color:black;">Our Partners</span></h3>
                        <div class="desc">Ashraya Seva Trust has teamed up with various organizations ranging from start-ups who engage actively with our disregarded women of the society to huge corporate companies that help us in making noticeable difference to the elderly women through financial and logistical offerings!</div>

</div>
</div>
</div>
</div>
</section>

    
 
    
    
    