@media (max-width: 768px) {
   
   .info {
    padding-left: 0 !important;
}

.popover {
    max-width: 160px !important;
    left: 50% !important;
    margin-left: -80px !important;
}

.popover-content {
    width: 100% !important;
}

.btn-group-justified
 a {
    display: block !important;
    width: 100% !important;
    margin-bottom: 10px;
}
.popover>.arrow:after,.popover>.arrow{display:none;}
}

.btn.btn-success {
    color: #ffffff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #5CB85C, #419641);
    border-color: #3E8F3E #3E8F3E #3E8F3E;
}
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #419641;
    background-image: linear-gradient(to bottom, #419641, #419641);
    border-color: #3E8F3E #3E8F3E #3E8F3E;
}
.extra-bottom-padding{
    margin-bottom:20px;
}

label.radio-inline{
    padding-right:10px;
    padding-top:8px;
}